@{
    ViewBag.Title = "CSDatTour";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ĐIỀU KHOẢN ĐIỀU KIỆN</h2>
<div class="table border-top border-info">
    <font color="red">I) CÁC HÌNH THỨC THANH TOÁN TẠI DU LỊCH TRAVELING</font><br />
    <b>1 -Thanh toán bằng tiền mặt:</b><br />
    Quý khách vui lòng đến Trụ sở văn phòng chính TRAVELING <br />
    <b>2 - Thanh toán bằng chuyển khoản:</b><br />
    <div class="card">
        Tên tài khoản: Hồ Thanh Tùng<br />
        Ngân hàng: VCB<br />
        Tài Khoản: 01234567891011<br />
    </div>
        Khi thực hiện việc chuyển khoản, Quý khách vui lòng ghi rõ họ tên, địa chỉ, số điện thoại và tên chuyến du lịch, ngày khởi hành cụ thể đã được quý khách chọn đăng ký.<br />
        Sau khi thực hiện việc chuyển khoản, quý khách vui lòng gửi Ủy nhiệm chi (qua viber/zalo/ mail) về công ty và liện hệ nhân viên phụ trách tuyến để nhận được tour/vé du lịch chính thức từ công ty TRAVELING.<br />
        TRAVELING sẽ không giải quyết các trường hợp hệ thống tự động hủy phiếu đăng ký nếu quý khách không thực hiện đúng những quy định trên.<br />
        <b>3 - Thanh toán trực tuyến qua cồng ONEPAY:</b><br />
        -    Khi thanh toán, Quý khách vui lòng cung cấp đầy đủ thông tin và đóng một khoản tiền cọc để giữ chỗ.<br />
        -    Số tiền cọc khác nhau tùy theo chương trình/ dịch vụ mà Quý khách chọn.<br />
        -    Số tiền còn lại sẽ phải thanh toán<br />
        •    10 ngày làm việc trước ngày khởi hành (đối với tour ngày thường)<br />
        •    20 ngày làm việc trước ngày khởi hành (đối với tour Lễ, Tết)  hoặc ngay sau khi có visa<br />
        Nhân viên phụ trách của TRAVELING sẽ liên hệ tư vấn trực tiếp rõ ràng cho Quý khách sau khi việc thực hiện giao dịch thanh toán trực tuyến của Quý khách được xác nhận<br />
        Hiện tại hệ thống website www.dulichviet.com.vn chấp nhận thanh toán bằng các loại Thẻ ngân hàng nội địa ATM/ Internet Banking; Thẻ quốc tế: VISA, MASTER CARD, JCB, AMERICAN EXPRESS, AMEX…<br />
        Lưu ý:<br />
        -    Quý khách hàng sẽ thanh toán số tiền cọc tour/ dịch vụ + phí giao dịch (tùy thuộc vào cổng thanh toán nội địa hay quốc tế mà quý khách lựa chọn).<br />
        -    Đối với hình thức thanh toán bằng thẻ ATM/ INTERNETBANKING quý khách vui lòng đăng ký dịch vụ Internet Banking với ngân hàng phát hành thẻ trước khi sử dụng hình thức thanh toán này.<br />
        <font color="red">II) ĐIỀU KHOẢN BẮT BUỘC KHI THANH TOÁN ONLINE</font><br />
        <b>1- ĐIỀU KHOẢN CHUNG</b><br />
        -    Giá tất cả các dịch vụ được tính theo đơn vị tiền tệ của Việt Nam (VNĐ).<br />
        -    Giá dịch vụ trong tour được liệt kê một cách rõ ràng trong phần “Bao gồm” trong các tour du lịch, dịch vụ xe, khách sạn,…TRAVELING không có nghĩa vụ thanh toán bất cứ chi phí nào không nằm trong phần “Bao gồm”.<br />
        -    Trường hợp khách thanh toán bằng USD, số tiền sẽ được quy đổi ra VNĐ theo tỉ giá của ngân hàng Ngân hàng thương mại cổ phần Ngoại thương Việt Nam tại thời điểm thanh toán.<br />
        <b>2- THANH TOÁN</b><br />
        Hiện tại hệ thống website www.dulichviet.com.vn chấp nhận thanh toán bằng các loại Thẻ ngân hàng nội địa ATM/ Internet Banking; Thẻ quốc tế: VISA, MASTER CARD, JCB, AMERICAN EXPRESS, AMEX…<br />
        -    Khi thanh toán, Quý khách vui lòng cung cấp đầy đủ thông tin và đóng một khoản tiền cọc để giữ chỗ.<br />
        -    Số tiền cọc khác nhau tùy theo chương trình/ dịch vụ mà Quý khách chọn<br />
        -    Số tiền còn lại sẽ phải thanh toán<br />
        •    10 ngày làm việc trước ngày khởi hành (đối với tour ngày thường)<br />
        •    20 ngày làm việc trước ngày khởi hành (đối với tour Lễ, Tết)  hoặc ngay sau khi có visa<br />
        -    Việc thanh toán được xem là hoàn tất khi TRAVELING tiếp nhận đủ tiền dịch vụ trước ngày khởi hành theo quy định hoặc theo hợp đồng thỏa thuận giữa 2 bên. Bất kỳ việc thanh toán chậm trễ dẫn đến việc hủy dịch vụ không thuộc trách nhiệm của TRAVELING.<br />
        -    TRAVELING sẽ không giải quyết các trường hợp hệ thống tự động hủy phiếu đăng ký nếu quý khách không thực hiện đúng những quy định trên.<br />
        Nhân viên phụ trách của TRAVELING sẽ liên hệ tư vấn trực tiếp rõ ràng cho Quý khách sau khi việc thực hiện giao dịch thanh toán của Quý khách được xác nhận<br />
        <font color="red">III) HỦY VÉ VÀ PHÍ HỦY VÉ DỊCH VỤ</font><br />
        <b>Trường hợp bủy bỏ dịch vụ từ TRAVELING:</b><br />
        Nếu TRAVELING không thực hiện được chuyến du lịch/ dịch vụ, TRAVELING phải báo ngay cho khách hàng biết và thanh toán lại cho khách hàng toàn bộ số tiền mà khách hàng đã đóng trong vòng 3 ngày kể từ lúc chính thức thông báo hủy chuyến đi/ dịch vụ du lịch bằng hình thức tiền mặt hoặc chuyển khoản.<br />
        <b>Trường hợp bị hủy bỏ dịch vụ từ khách hàng:</b><br />
        Trong trường hợp không thể tiếp tục sử dụng dịch vụ/ tour, Quý khách phải thông báo cho Công ty bằng văn bản hoặc email (không giải quyết các trường hợp liên hệ chuyển/ hủy tour qua điện thoại). Đồng thời Quý khách vui lòng mang Biên bản đăng ký tour/ dịch vụ & biên lai đóng tiền đến văn phòng Cty TRAVELING để làm thủ tục hủy/ chuyển tour.<br />
        Các trường hợp chuyển/ đổi dịch vụ/ tour: Cty sẽ căn cứ xem xét tình hình thực tế để tính phí và có mức hỗ trợ Quý khách hàng thỏa đáng.<br />
        Trường hợp hủy dịch vụ/ tour: Quý khách phải chịu chi phí hủy tour/ dịch vụ theo quy định của Cty TRAVELING và toàn bộ phí ngân hàng cho việc thanh toán trực tuyến.<br />
        Tour ngày thường<br />
        + Ngay sau khi đặt cọc hoặc thanh toán hoặc trước 15 ngày: phí hủy 10% tiền tour+ 100% Vé máy bay.<br />
        + Hủy 10 ngày trước ngày khởi hành: phí hủy 50% tiền tour + 100% vé máy bay.<br />
        + Hủy 07 ngày trước ngày khởi hành: phí hủy 70% tiền tour  + 100% vé máy bay.<br />
        + Hủy  05 ngày trước ngày khởi hành: phí hủy 100% tiền tour  + 100% vé máy bay.<br />
        + Trường hợp quý khách đến trễ giờ khởi hành được tính là hủy 5 ngày trước ngày khởi hành.<br />
        + Do tính chất là đoàn ghép khách lẻ, TRAVELING sẽ có trách nhiệm nhận khách đăng ký cho đủ đoàn (10 khách người lớn trở lên) thì đoàn sẽ khởi hành đúng lịch trình. Nếu số lượng đoàn dưới 10 khách, công ty có trách nhiệm thông báo cho khách trước ngày khởi hành 3 ngày và sẽ thỏa thuận lại ngày khởi hành mới hoặc hoàn trả toàn bộ số tiền đã đặt cọc tour.<br />
        + Việc huỷ bỏ chuyến đi phải được thông báo trực tiếp với Công ty hoặc qua fax, email, tin nhắn và phải được Công ty xác nhận. Việc huỷ bỏ bằng điện thoại không được chấp nhận.<br />
        + Các ngày đặt cọc, thanh toán, huỷ và dời tour: không tính thứ 7, Chủ Nhật.<br />
        Tour Lễ tết<br />
        + Ngay sau khi đặt cọc hoặc thanh toán hoặc trước 15 ngày: phí hủy 35% tiền tour+ 100% Vé máy bay.<br />
        + Hủy 10 ngày trước ngày khởi hành: phí hủy 50% tiền tour + 100% vé máy bay.<br />
        + Hủy 07 ngày trước ngày khởi hành: phí hủy 70% tiền tour  + 100% vé máy bay.<br />
        + Hủy  05 ngày trước ngày khởi hành: phí hủy 100% tiền tour  + 100% vé máy bay.<br />
        + Trường hợp quý khách đến trễ giờ khởi hành được tính là hủy 5 ngày trước ngày khởi hành.<br />
        + Do tính chất là đoàn ghép khách lẻ, TRAVELING sẽ có trách nhiệm nhận khách đăng ký cho đủ đoàn (10 khách người lớn trở lên) thì đoàn sẽ khởi hành đúng lịch trình. Nếu số lượng đoàn dưới 10 khách, công ty có trách nhiệm thông báo cho khách trước ngày khởi hành 3 ngày và sẽ thỏa thuận lại ngày khởi hành mới hoặc hoàn trả toàn bộ số tiền đã đặt cọc tour.<br />
        + Việc huỷ bỏ chuyến đi phải được thông báo trực tiếp với Công ty hoặc qua fax, email, tin nhắn và phải được Công ty xác nhận. Việc huỷ bỏ bằng điện thoại không được chấp nhận.<br />
        + Các ngày đặt cọc, thanh toán, huỷ và dời tour: không tính thứ 7, Chủ Nhật.<br />
        <font color="red">IV) GIÁ DÀNH CHO TRẺ EM</font><br />
        + Trẻ em dưới 02 tuổi: miễn phí giá tour, giá vé máy bay theo quy định hãng hàng không. Cha, Mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ, tham quan (nếu có) cho bé.<br />
        + Trẻ em từ 02 – dưới 05 tuổi: 100% giá vé máy bay; miễn giá tour. Cha, Mẹ hoặc người thân đi kèm tự lo các chi phí ăn, ngủ, tham quan (nếu có) cho bé. Hai người lớn chỉ kèm 1 trẻ em dưới 5 tuổi, trẻ em thứ 2 trở lên phải mua ½ vé tour.<br />
        + Trẻ em từ 05 – dưới 11 tuổi: 100% giá vé máy bay; 50% giá tour. Bao gồm các dịch vụ ăn uống, ghế ngồi trên xe và ngủ chung với gia đình. Hai người lớn chỉ được kèm 1 trẻ em từ 5 đến dưới 11 tuổi, trẻ em thứ 2 trở lên Cha, Mẹ mua thêm 1 suất giường đơn hoặc 1 vé người lớn.<br />
        + Từ 11 tuổi trở lên: 100% giá tour và tiêu chuẩn như người lớn.<br />
        <font color="red">IV) NHỮNG YÊU CẦU ĐẶC BIỆT TRONG CHUYẾN DU LỊCH</font><br />
        -    Quý khách có yêu cầu đặc biệt phải thông báo trước cho TRAVELING ngay tại thời điểm đăng ký, TRAVELING sẽ cố gắng đáp ứng những yêu cầu này trong khả năng của mình, song sẽ không chịu trách nhiệm về bất kỳ sự từ chối cung cấp dịch vụ nào từ phía các nhà vận chuyển, khách sạn, nhà hàng và các nhà cung cấp dịch vụ độc lập khác.<br />
        -    Quý khách hàng sẽ phải chi trả thêm chi phí đối với các yêu cầu đặc biệt trong từng trường hợp cụ thể nếu được đáp ứng và tùy theo báo giá cung cấp của các đơn vị hậu cần.<br />
        <font color="red">V) KHÁCH SẠN</font><br />
        -    Khách sạn được cung cấp trên cơ sở những phòng có 2 giường đơn (TWIN) hoặc một giường đôi (DBL) tùy theo cơ cấu phòng của các khách sạn. Phòng 3 sẽ được bố trí khi cần thiết (TRIPLE), tuy nhiên phòng 3 ở rất hạn chế ở Nhật, Singapo, Malaysia, Châu Âu, Úc,Mỹ,Canada, Nga..<br />
        -    Khách sạn/dịch vụ do TRAVELING đặt cho các chương trình tham quan có tiêu chuẩn tương ứng với các mức giá vé mà Quý khách chọn khi đăng ký tour du lịch. Nếu cần thiết thay đổi về bất kỳ lý do nào, khách sạn/dịch vụ thay thế sẽ tương đương với tiêu chuẩn ban đầu và sẽ được báo ngay cho Quý khách trước ngày khởi hành.<br />
        <font color="red">VI) VẬN CHUYỂN</font><br />
        -    Phương tiện vận chuyển tùy theo từng chương trình du lịch.<br />
        -    Với chương trình đi bằng ô tô máy lạnh (4-7-15-25-35-45 chỗ) sẽ được TRAVELING sắp xếp tùy theo số lượng từng đoàn và phục vụ suốt chương trình tham quan.<br />
        -    Với chương trình đi bằng xe lửa, máy bay, tàu cánh ngầm (phương tiện vận chuyển công cộng): Trong một số chương trình các nhà cung cấp dịch vụ có thể thay đổi giờ khởi hành mà không báo trước, việc thay đổi này sẽ được TRAVELING thông báo cho khách hàng nếu thời gian cho phép.<br />
        TRAVELING không chịu trách nhiệm bồi hoàn và trách nhiệm pháp lý với những thiệt hại về vật chất & tinh thần do việc chậm trễ giờ giấc khởi hành của các phương tiện vận chuyển công cộng hoặc do sự chậm trễ của chính hành khách gây ra. TRAVELING chỉ thực hiện hành vi giúp đỡ để giảm bớt tổn thất cho khách hàng.<br />
        <font color="red">VII) HÀNH LÝ</font><br />
        -    Hành lý cần gọn nhẹ, có thẻ ghi tên, số điện thoại lien lạc.<br />
        -    Với các chương trình sử dụng dịch vụ hàng không, trọng lượng hành lý miễn cước sẽ do các hãng hàng không qui định.<br />
        -    Quý khách tự bảo quản hành lý của mình, TRAVELING không chịu trách nhiệm về sự thất lạc, hư hỏng hành lý hoặc bất kỳ vật dụng nào của hành khách trong suốt chuyến đi.<br />
        -    Trong trường hợp khách hàng mất hay thất lạc hành lý: TRAVELING sẽ giúp hành khách liên lạc và khai báo với các bộ phận liên quan để truy tìm hành lý bị mất hay thất lạc. Việc bồi thường hành lý mất hay thất lạc sẽ theo qui định của các đơn vị cung cấp dịch vụ hoặc các đơn vị bảo hiểm.<br />
        <font color="red">VIII) TIẾP NHẬN THÔNG TIN VỀ CHƯƠNG TRÌNH DU LỊCH</font><br />
        Trước khi đăng ký, Quý khách hàng vui lòng đọc kỹ chương trình, chi phí, các khoản mục bao gồm cũng như không bao gồm trong chương trình.<br />
        Khách hàng có thể trực tiếp hoặc nhờ người đại diện đến đăng ký đi du lịch và thanh toán tiền vé tại các văn phòng, chi nhánh của TRAVELING. TRAVELING chỉ có trách nhiệm cung cấp thông tin chuyến đi cho khách hàng đến đăng ký trực tiếp hoặc cho người đại diện. TRAVELING không chịu bất cứ trách nhiệm nào trong trường hợp người đại diện không cung cấp lại hoặc cung cấp không chính xác các thông tin của chuyến đi cho khách hàng.<br />
</div>
